{{> menu}}

<div class="box box-link-hover-shadow">
<div class="columns">
    <div class="column is-one-quarter">
        <img src={{location.imageURL}} alt="Location Image">
    </div>
    <div class="column">
        <div class="box box-link-hover-shadow">
            <h1 class="title">{{location.title}}</h1>
            <div class="block">
                <p><strong>Weather: </strong>{{location.weather}}</p>
                <p><strong>Temperature: </strong>{{location.temp}}</p>
            </div>
        </div>
    </div>
</div>
</div>

<section class="section">
  <div class="title">
    What To Do in {{location.title}}
  </div>
  {{> list-business}}
  {{> add-business}}
  {{!-- {{> filter-search-business}} --}}
</section>