<form class="box" action="/location/{{location._id}}/filterbusinesscategory" method="GET">
  <label>Select Category:</label>
  <div class="field">
    <div class="control">
      <div class="select">
        <select name="category" id="category-select">
          <option value="" selected disabled>Select Category</option>
          <option value="Accommodation">Accommodation</option>
          <option value="Dining">Dining</option>
          <option value="Shopping">Shopping</option>
          <option value="Nightlife">Nightlife</option>
          <option value="Activities">Activities</option>
        </select>
      </div>
    </div>
  </div>
  <button type="submit" class="button" id="filter-button">Filter</button>
</form>



<form class="box" action="/location/{{location._id}}/filterbusinesscategory" method="GET">
  <label>Enter Business Details:</label>
<div class="field">
  <div class="control">
    <div class="select">
      <select name="category">
        <option value="" selected disabled>Select Category</option>
        <option value="Accommodation">Accommodation</option>
        <option value="Dining">Dining</option>
        <option value="Shopping">Shopping</option>
        <option value="Nightlife">Nightlife</option>
        <option value="Activities">Activities</option>
      </select>
    </div>
  </div>
  <button id="filter-button">Filter</button>
</div>
</form>

<input type="text" id="category-input" placeholder="Enter category">
<button id="filter-button">Filter</button>

<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Title</th>
      <th>Category</th>
      <th>address</th>
      <th>lat</th>
      <th>lng</th>
    </tr>
  </thead>
  <tbody>
    {{#each location.businesss}}
    {{!-- {{#if (eq category "YourDesiredCategory")}} --}}
    <tr>
      <td>
        {{title}}
      </td>
      <td>
        {{category}}
      </td>
      <td>
        {{address}}
      </td>
      <td>
        {{lat}}
      </td>
      <td>
        {{lng}}
      </td>
      <td>
        <a href="/location/{{../location._id}}/deletebusiness/{{_id}}" class="ui icon button">
          <i class="fas fa-trash"></i>
        </a>
      </td>
    </tr>
    {{!-- {{/if}} --}}
    {{/each}}
  </tbody>
</table>

{{!-- <table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Title</th>
      <th>Category</th>
      <th>Address</th>
      <th>Lat</th>
      <th>Lng</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {{#each location.businesses}}
    {{#if (eq category "YourDesiredCategory")}}
    <tr>
      <td>{{title}}</td>
      <td>{{category}}</td>
      <td>{{address}}</td>
      <td>{{lat}}</td>
      <td>{{lng}}</td>
      <td>
        <a href="/location/{{../location._id}}/deletebusiness/{{_id}}" class="ui icon button">
          <i class="fas fa-trash"></i>
        </a>
      </td>
    </tr>
    {{/if}}
    {{/each}}
  </tbody>
</table> --}}
